<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>8 Balls</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
    <input id="question" placeholder="Enter question">
    <button id="submit"> Ask 8 Ball</button>
</body>
</html>